<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the  and  formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the BL3_init() hook (in hooks/BL3.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="BL3-IDBL3-<%%VALUE(IDBL3)%%>" class="BL3-IDBL3 text-right"><%%VALUE(IDBL3)%%></td>
		<td id="BL3-IDCTV-<%%VALUE(IDBL3)%%>" class="BL3-IDCTV text-right"><%%VALUE(IDCTV)%%></td>
		<td id="BL3-Ngaydauki-<%%VALUE(IDBL3)%%>" class="BL3-Ngaydauki"><%%VALUE(Ngaydauki)%%></td>
		<td id="BL3-Ngaycuoiki-<%%VALUE(IDBL3)%%>" class="BL3-Ngaycuoiki"><%%VALUE(Ngaycuoiki)%%></td>
		<td id="BL3-CBPhanloai-<%%VALUE(IDBL3)%%>" class="BL3-CBPhanloai"><%%VALUE(CBPhanloai)%%></td>
		<td id="BL3-CHPhanloai-<%%VALUE(IDBL3)%%>" class="BL3-CHPhanloai"><%%VALUE(CHPhanloai)%%></td>
		<td id="BL3-Phanloai-<%%VALUE(IDBL3)%%>" class="BL3-Phanloai"><%%VALUE(Phanloai)%%></td>
		<td id="BL3-Nx_Dx-<%%VALUE(IDBL3)%%>" class="BL3-Nx_Dx"><%%VALUE(Nx_Dx)%%></td>
