<!-- Edit this file to change the layout of the detail view print preview page -->


<div class="panel-heading"><h3 class="panel-title">
	<strong><%%DETAIL_VIEW_TITLE%%></strong> <!-- Sau lam cai QR here -->
	<div class="hidden-print pull-right">
		<div class="btn-group">
			<button type="button" id="print" onclick="window.print();" title="<%%TRANSLATION(Print)%%>" class="btn btn-primary"><i class="glyphicon glyphicon-print"></i> <%%TRANSLATION(Print)%%></button>
			<button type="submit" id="back" title="<%%TRANSLATION(Cancel Printing)%%>" class="btn btn-default"><i class="glyphicon glyphicon-remove-circle"></i> <%%TRANSLATION(Cancel Printing)%%></button>
		</div>
	</div>
	<div class="clearfix"></div>
</h3></div>

<div class="panel-body">
	<fieldset class="form-horizontal">
		<!-- Field: ID -->
		<div class="form-group BL3-IDBL3" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">ID</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(IDBL3)%%></div>
			</div>
		</div>
		<!-- Field: IDCTV -->
		<div class="form-group BL3-IDCTV" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">IDCTV</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="IDCTV<%%RND1%%>"><%%COMBOTEXT(IDCTV)%%></span></div>
			</div>
		</div>
		<!-- Field: Ngaydauki -->
		<div class="form-group BL3-Ngaydauki" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Ngaydauki</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(Ngaydauki)%%></div>
			</div>
		</div>
		<!-- Field: Ngaycuoiki -->
		<div class="form-group BL3-Ngaycuoiki" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Ngaycuoiki</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(Ngaycuoiki)%%></div>
			</div>
		</div>
		<!-- Field: CBPhanloai -->
		<div class="form-group BL3-CBPhanloai" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">CBPhanloai</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="CBPhanloai<%%RND1%%>"><%%COMBOTEXT(CBPhanloai)%%></span></div>
			</div>
		</div>
		<!-- Field: CHPhanloai -->
		<div class="form-group BL3-CHPhanloai" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">CHPhanloai</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="CHPhanloai<%%RND1%%>"><%%COMBOTEXT(CHPhanloai)%%></span></div>
			</div>
		</div>
		<!-- Field: Phanloai -->
		<div class="form-group BL3-Phanloai" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Phanloai</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="Phanloai<%%RND1%%>"><%%COMBOTEXT(Phanloai)%%></span></div>
			</div>
		</div>
		<!-- Field: Nx Dx -->
		<div class="form-group BL3-Nx_Dx" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Nx Dx</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(Nx_Dx)%%></div>
			</div>
		</div>
	</fieldset>
</div>
<script>
	$j(function() {
		// render read-only checkboxes in DVP
		$j('form input[type=checkbox]:not(.hidden):checked')
			.addClass('hidden')
			.after('<i class="glyphicon glyphicon-check"></i>');
		$j('form input[type=checkbox]:not(.hidden):not(:checked)')
			.addClass('hidden')
			.after('<i class="glyphicon glyphicon-unchecked"></i>')
	})
</script>
<!-- child records -->
<div class="panel-body">
	<div id="BL3-children"></div>
</div>

<script>
	$j(function() {
		/* prevent loading child records in multiple DVP */
		if($j('[id=BL3-children]').length > 1) return;

		post(
			'parent-children.php', {
				ParentTable: 'BL3',
				SelectedID: '<%%VALUE(IDBL3)%%>',
				Operation: 'show-children-printable'
			},
			'BL3-children',
			'disable-element',
			'loading-element',
			apply_persisting_children
		);

		$j('form').on('click', '#children-tabs button[data-target]', function() {
			$j(this).toggleClass('active');
			persist_expanded_child($j(this).attr('id'));
		});
	})
</script>

