<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the  and  formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the CanBo_init() hook (in hooks/CanBo.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="CanBo-IDCanbo-<%%VALUE(IDCanbo)%%>" class="CanBo-IDCanbo text-right"><%%VALUE(IDCanbo)%%></td>
		<td id="CanBo-IDMember-<%%VALUE(IDCanbo)%%>" class="CanBo-IDMember"><%%VALUE(IDMember)%%></td>
		<td id="CanBo-Hovaten-<%%VALUE(IDCanbo)%%>" class="CanBo-Hovaten"><%%VALUE(Hovaten)%%></td>
		<td id="CanBo-Gioitinh-<%%VALUE(IDCanbo)%%>" class="CanBo-Gioitinh"><%%VALUE(Gioitinh)%%></td>
		<td id="CanBo-Chucvu-<%%VALUE(IDCanbo)%%>" class="CanBo-Chucvu"><%%VALUE(Chucvu)%%></td>
		<td id="CanBo-Donvi-<%%VALUE(IDCanbo)%%>" class="CanBo-Donvi text-right"><%%VALUE(Donvi)%%></td>
		<td id="CanBo-Thongtin-<%%VALUE(IDCanbo)%%>" class="CanBo-Thongtin"><%%VALUE(Thongtin)%%></td>
