<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the  and  formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the CTV_init() hook (in hooks/CTV.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="CTV-IDCTV-<%%VALUE(IDCTV)%%>" class="CTV-IDCTV text-right"><%%VALUE(IDCTV)%%></td>
		<td id="CTV-Sodangky-<%%VALUE(IDCTV)%%>" class="CTV-Sodangky"><%%VALUE(Sodangky)%%></td>
		<td id="CTV-Ngaydangky-<%%VALUE(IDCTV)%%>" class="CTV-Ngaydangky"><%%VALUE(Ngaydangky)%%></td>
		<td id="CTV-LoaiCTV-<%%VALUE(IDCTV)%%>" class="CTV-LoaiCTV text-right"><%%VALUE(LoaiCTV)%%></td>
		<td id="CTV-Bidanh-<%%VALUE(IDCTV)%%>" class="CTV-Bidanh"><%%VALUE(Bidanh)%%></td>
		<td id="CTV-NgayPLgannhat-<%%VALUE(IDCTV)%%>" class="CTV-NgayPLgannhat"><%%VALUE(NgayPLgannhat)%%></td>
		<td id="CTV-NgaydenhanPL-<%%VALUE(IDCTV)%%>" class="CTV-NgaydenhanPL"><%%VALUE(NgaydenhanPL)%%></td>
		<td id="CTV-DVSD-<%%VALUE(IDCTV)%%>" class="CTV-DVSD text-right"><%%VALUE(DVSD)%%></td>
		<td id="CTV-CBSD-<%%VALUE(IDCTV)%%>" class="CTV-CBSD"><%%VALUE(CBSD)%%></td>
		<td id="CTV-DVLap-<%%VALUE(IDCTV)%%>" class="CTV-DVLap text-right"><%%VALUE(DVLap)%%></td>
		<td id="CTV-CBLap-<%%VALUE(IDCTV)%%>" class="CTV-CBLap"><%%VALUE(CBLap)%%></td>
		<td id="CTV-Status-<%%VALUE(IDCTV)%%>" class="CTV-Status"><%%VALUE(Status)%%></td>
		<td id="CTV-Diaban-<%%VALUE(IDCTV)%%>" class="CTV-Diaban"><%%VALUE(Diaban)%%></td>
		<td id="CTV-Doituong-<%%VALUE(IDCTV)%%>" class="CTV-Doituong"><%%VALUE(Doituong)%%></td>
		<td id="CTV-Vitri-<%%VALUE(IDCTV)%%>" class="CTV-Vitri"><%%VALUE(Vitri)%%></td>
