<!-- To change the layout of the detail view form, we recommend using JS code in hooks/CTV-dv.js rather than editing this file -->

<div id="detail-view"></div>
<div class="panel-heading"><h3 class="panel-title"><strong><%%DETAIL_VIEW_TITLE%%></strong></h3></div>

<div id="CTV_dv_container-loading" class="text-center text-info text-bold vspacer-lg"><i class="glyphicon glyphicon-refresh loop-rotate"></i> <%%TRANSLATION(Loading ...)%%></div>

<div class="panel-body hidden" id="CTV_dv_container">
	<!-- child links -->
	<div class="row vspacer-md">
		<div class="col-xs-12 children-links">
			<a class="hidden-xs btn btn-default btn-lg pull-right hidden hspacer-sm vspacer-sm" href="BL3_view.php?filterer_IDCTV=<%%URLVALUE(IDCTV)%%>&<%%EMBEDDED%%>" id="BL3_link"><img src="table.gif"> BL3</a>
			<a class="visible-xs btn btn-default btn-lg btn-block hidden vspacer-sm" href="BL3_view.php?filterer_IDCTV=<%%URLVALUE(IDCTV)%%>&<%%EMBEDDED%%>" id="xs_BL3_link"><img src="table.gif"> BL3</a>
			<input type="hidden" id="BL3_hclink" value="BL3_view.php?filterer_IDCTV=<%%URLVALUE(IDCTV)%%>&<%%EMBEDDED%%>">
			<div class="clearfix"></div>
		</div>
	</div>
	<hr class="hidden-xs hidden-sm">

	<div class="row">
		<!-- form inputs -->
		<div class="col-md-8 col-lg-10" id="CTV_dv_form">
			<fieldset class="form-horizontal">

				<!-- Field: ID -->
				<div class="form-group CTV-IDCTV">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="IDCTV">ID</label>
					<div class="col-lg-9">
						<div class="form-control-static" id="IDCTV"><%%VALUE(IDCTV)%%></div>
					</div>
				</div>

				<!-- Field: Sodangky -->
				<div class="form-group CTV-Sodangky">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="Sodangky">Sodangky<span class="text-danger"><%%TRANSLATION(*)%%></span></label>
					<div class="col-lg-9">
						<input maxlength="40" type="text" class="form-control" name="Sodangky" id="Sodangky" value="<%%VALUE(Sodangky)%%>" required><div class="text-danger vspacer-md" id="Sodangky-uniqueness-note" style="display: none;"><%%TRANSLATION(unique field error)%%></div>
					</div>
				</div>

				<!-- Field: Ngaydangky -->
				<div class="form-group CTV-Ngaydangky">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="Ngaydangky">Ngaydangky</label>
					<div class="col-lg-9">
						<div class="input-group date datetimepicker"><input type="text" class="form-control" name="Ngaydangky" id="Ngaydangky" value="<%%VALUE(Ngaydangky)%%>"><span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span></div>
					</div>
				</div>

				<!-- Field: LoaiCTV -->
				<div class="form-group CTV-LoaiCTV">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="LoaiCTV" data-parent_link="view_parent_modal">LoaiCTV</label>
					<div class="col-lg-9">
						<div class="lookup-flex"><%%COMBO(LoaiCTV)%%><%%PLINK(LoaiCTV)%%><%%ADDNEW(LoaiCTV)%%></div>
					</div>
				</div>

				<!-- Field: Bidanh -->
				<div class="form-group CTV-Bidanh">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="Bidanh">Bidanh</label>
					<div class="col-lg-9">
						<input maxlength="40" type="text" class="form-control" name="Bidanh" id="Bidanh" value="<%%VALUE(Bidanh)%%>">
					</div>
				</div>

				<!-- Field: NgayPhanloai -->
				<div class="form-group CTV-NgayPLgannhat">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="NgayPLgannhat">NgayPhanloai</label>
					<div class="col-lg-9">
						<div class="input-group date datetimepicker"><input type="text" class="form-control" name="NgayPLgannhat" id="NgayPLgannhat" value="<%%VALUE(NgayPLgannhat)%%>"><span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span></div>
					</div>
				</div>

				<!-- Field: NgaydenhanPL -->
				<div class="form-group CTV-NgaydenhanPL">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="NgaydenhanPL">NgaydenhanPL</label>
					<div class="col-lg-9">
						<div class="input-group date datetimepicker"><input type="text" class="form-control" name="NgaydenhanPL" id="NgaydenhanPL" value="<%%VALUE(NgaydenhanPL)%%>"><span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span></div>
					</div>
				</div>

				<!-- Field: DVSD -->
				<div class="form-group CTV-DVSD">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="DVSD" data-parent_link="view_parent_modal">DVSD</label>
					<div class="col-lg-9">
						<div class="lookup-flex"><%%COMBO(DVSD)%%><%%PLINK(DVSD)%%><%%ADDNEW(DONVI)%%></div>
					</div>
				</div>

				<!-- Field: CBSD -->
				<div class="form-group CTV-CBSD">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="CBSD" data-parent_link="view_parent_modal">CBSD</label>
					<div class="col-lg-9">
						<div class="lookup-flex"><%%COMBO(CBSD)%%><%%PLINK(CBSD)%%><%%ADDNEW(CanBo)%%></div>
					</div>
				</div>

				<!-- Field: DVLap -->
				<div class="form-group CTV-DVLap">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="DVLap" data-parent_link="view_parent_modal">DVLap</label>
					<div class="col-lg-9">
						<div class="lookup-flex"><%%COMBO(DVLap)%%><%%PLINK(DVLap)%%><%%ADDNEW(DONVI)%%></div>
					</div>
				</div>

				<!-- Field: CBLap -->
				<div class="form-group CTV-CBLap">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="CBLap" data-parent_link="view_parent_modal">CBLap</label>
					<div class="col-lg-9">
						<div class="lookup-flex"><%%COMBO(CBLap)%%><%%PLINK(CBLap)%%><%%ADDNEW(CanBo)%%></div>
					</div>
				</div>

				<!-- Field: Status -->
				<div class="form-group CTV-Status">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="Status">Status</label>
					<div class="col-lg-9">
						<input maxlength="40" type="text" class="form-control" name="Status" id="Status" value="<%%VALUE(Status)%%>">
					</div>
				</div>

				<!-- Field: Diaban -->
				<div class="form-group CTV-Diaban">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="Diaban">Diaban</label>
					<div class="col-lg-9">
						<input maxlength="40" type="text" class="form-control" name="Diaban" id="Diaban" value="<%%VALUE(Diaban)%%>">
					</div>
				</div>

				<!-- Field: Doituong -->
				<div class="form-group CTV-Doituong">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="Doituong">Doituong</label>
					<div class="col-lg-9">
						<input maxlength="40" type="text" class="form-control" name="Doituong" id="Doituong" value="<%%VALUE(Doituong)%%>">
					</div>
				</div>

				<!-- Field: Vitri -->
				<div class="form-group CTV-Vitri">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="Vitri">Vitri</label>
					<div class="col-lg-9">
						<input maxlength="40" type="text" class="form-control" name="Vitri" id="Vitri" value="<%%VALUE(Vitri)%%>">
					</div>
				</div>

			</fieldset>
		</div>

		<!-- DV action buttons -->
		<hr class="hidden-md hidden-lg">
		<div class="col-md-4 col-lg-2" id="CTV_dv_action_buttons">
			<div class="btn-toolbar">
				<div class="btn-group-vertical btn-group-lg" style="width: 100%;">
					<%%UPDATE_BUTTON%%>
				</div><p></p>
				<div class="btn-group-vertical btn-group-lg" style="width: 100%;">
					<%%DESELECT_BUTTON%%>
					<%%DVPRINT_BUTTON%%>
					<%%DELETE_BUTTON%%>
				</div><p></p>
				<div class="btn-group-vertical btn-group-lg" style="width: 100%;">
					<%%INSERT_BUTTON%%>
				</div>
			</div>
		</div>
	</div>


	<!-- child records -->
	<hr>
	<div class="row">
		<div class="col-lg-10 col-lg-offset-1">
			<div id="CTV-children" class="children-tabs">
				<div class="text-center"><i class="glyphicon glyphicon-refresh loop-rotate"></i> <%%TRANSLATION(Loading ...)%%></div>
			</div>
		</div>
	</div>

</div><!-- /div class="panel-body" -->
	<script>
		$j(function() {
			var add_new_mode = (!$j('input[name=SelectedID]').val());
			var embedded_mode = ($j('input[name=Embedded]').val() == 1);

			/* auto-close embedded page? */
			var autoclose_mode = ($j('input[name=AutoClose]').val() == 1);
			var record_added_ok = (location.search.split('record-added-ok=').length == 2);
			var record_updated_ok = (location.search.split('record-updated-ok=').length == 2);
			if((record_added_ok || record_updated_ok) && embedded_mode && autoclose_mode) {
				setTimeout(AppGini.closeParentModal, 2000);
			}


			/* enable DV action buttons to float on scrolling down the form */
			enable_dvab_floating();

			$j('#CTV_dv_container-loading').addClass('hidden');
			$j('#CTV_dv_container').removeClass('hidden');
			if(!$j('.table_view').length || $j('[name=SelectedID]').val().length) AppGini.focusFormElement('CTV', 'Sodangky');

			$j('form').eq(0).change(function() {
				if($j(this).data('already_changed')) return;
				if($j('#deselect').length) $j('#deselect').removeClass('btn-default').addClass('btn-warning').get(0).lastChild.data = " <%%TRANSLATION(Cancel)%%>";
				$j(this).data('already_changed', true);
			});

			$j('a[href="<%%BASE_UPLOAD_PATH%%>"]').click(function() { return false; });

			if(embedded_mode) {
				/* hide links to children tables in embedded mode */
				$j('.detail_view a[id$=_link]').remove();

				/* append embedded mode to all links */
				var append_embedded = function() {
					$j('a[href]:not([href^="#"]):not([href^="javascript"]):not([href$="Embedded=1"]):not([href*="link.php?t="]):not([href^="mailto:"]):not([href$=".jpg"]):not([href$=".png"]):not([href$=".gif"])').each(
						function() {
							$j(this).attr('href', $j(this).attr('href') + '&Embedded=1');
						}
					);
				}
				setTimeout(append_embedded, 500);
				setTimeout(append_embedded, 1500);
				setTimeout(append_embedded, 2500);
				setTimeout(append_embedded, 3500);
			}

			/* when no record is selected ('add new' mode) */
			if(add_new_mode) {
				/* hide links to children tables */
				$j('.detail_view a[id$=_link]').remove();
			} else {
				post(
					'parent-children.php', {
						ParentTable: 'CTV',
						SelectedID: '<%%VALUE(IDCTV)%%>',
						Operation: 'show-children'
					},
					'CTV-children'
				);
			}

			if(true /* !embedded_mode */) {
				$j('.add_new_parent').click(function() {
					var pt = $j(this).attr('id').replace(/_add_new$/, '');
					modal_window({
						url: pt + '_view.php?addNew_x=1&Embedded=1',
						close: function() {
							var field_id = $j('#' + pt + '_add_new').prevAll('input:hidden').eq(0).attr('id');
							$j('#' + field_id + '-container').select2('focus').select2('focus');

							/* if a new parent was added, select it */
							var new_id = localStorage.getItem(pt + '_last_added_id');
							if(new_id === null) return;

							localStorage.removeItem(pt + '_last_added_id');
							AppGini.lookupText({
								id: new_id,
								table: 'CTV',
								field: field_id,
								callback: function(data) {
									$j('#' + field_id + '-container').select2('data', data, true);
								}
							});
						},
						size: 'full',
						title: $j(this).attr('title')
					});
				});
			}

			AppGini.hideViewParentLinks();

			$j('form').on('click', '.view_parent', function() {
				var pt = $j(this).attr('id').replace(/_view_parent$/, '');
				if($j(this).prevAll('input:hidden').length) {
					var parent_id = $j(this).prevAll('input:hidden').eq(0).val();
				} else {
					var parent_id = $j(this).prevAll().children('input:hidden').eq(0).val();
				}

				/* handle radio lookups */
				if($j(this).prevAll('[type=radio]').length) {
					parent_id = $j(this).prevAll('[type=radio]').eq(0).val();
				}

				if(parent_id != '{empty_value}' && parent_id != undefined && parent_id != '') {
					var parent_link = $j(this).parents('.form-group').children('label').data('parent_link');
					switch(parent_link) {
						case 'view_parent_hidden':
							break;
						case 'view_parent_modal':
							modal_window({
								url: pt + '_view.php?Embedded=1&SelectedID=' + encodeURIComponent(parent_id),
								close: function() {
									var field_id = $j('#' + pt + '_view_parent').prevAll('input:hidden').eq(0).attr('id');
									$j('#' + field_id + '-container').select2('focus').select2('focus');

									// in case the parent record was updated, we should update auto-fills
									var updaterName = field_id + '_update_autofills';
									if(typeof(window[updaterName]) == 'function')
										window[updaterName]();
								},
								size: 'full',
								title: $j(this).attr('title')
							});
							break;
						case 'view_parent_same_window':
							window.location = pt + '_view.php?Embedded=' + (embedded_mode ? '1' : '') + '&SelectedID=' + encodeURIComponent(parent_id);
							break;
						case 'view_parent_new_window':
							window.open(pt + '_view.php?SelectedID=' + encodeURIComponent(parent_id));
							break;
					}

				}
			});

			enforce_uniqueness('CTV', 'Sodangky');

			/* load admin tools for admin user */
			if(!add_new_mode) {
				$j('body').append('<div id="admin-tools-appendix"></div>');
				$j('#admin-tools-appendix').load(
					'ajax_admin_tools.php?table=CTV&id=<%%URLVALUE(IDCTV)%%>',
					function(resp) {
						if(!resp.length) return;
						$j.ajax('ajax_admin_tools.php?action=get_admin_tools_js&table=CTV&id=<%%URLVALUE(IDCTV)%%>');
					}
				);
			}

			/* warn user if 'add new' clicked while unsaved changes exist */
			$j('#addNew').click(function() {
				if($j('#deselect.btn-warning').length) {
					return confirm('<%%TRANSLATION(discard changes confirm)%%>');
				}
			});

		});
	</script>