<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%SELECT%%> and <%%ENDSELECT%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the CTV_init() hook (in hooks/CTV.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="CTV-IDCTV-<%%VALUE(IDCTV)%%>" class="CTV-IDCTV text-right"><%%SELECT%%><%%VALUE(IDCTV)%%><%%ENDSELECT%%></td>
		<td id="CTV-Sodangky-<%%VALUE(IDCTV)%%>" class="CTV-Sodangky"><%%SELECT%%><%%VALUE(Sodangky)%%><%%ENDSELECT%%></td>
		<td id="CTV-Ngaydangky-<%%VALUE(IDCTV)%%>" class="CTV-Ngaydangky"><%%SELECT%%><%%VALUE(Ngaydangky)%%><%%ENDSELECT%%></td>
		<td id="CTV-LoaiCTV-<%%VALUE(IDCTV)%%>" class="CTV-LoaiCTV text-right"><%%SELECT%%><%%VALUE(LoaiCTV)%%><%%ENDSELECT%%></td>
		<td id="CTV-Bidanh-<%%VALUE(IDCTV)%%>" class="CTV-Bidanh"><%%SELECT%%><%%VALUE(Bidanh)%%><%%ENDSELECT%%></td>
		<td id="CTV-NgayPLgannhat-<%%VALUE(IDCTV)%%>" class="CTV-NgayPLgannhat"><%%SELECT%%><%%VALUE(NgayPLgannhat)%%><%%ENDSELECT%%></td>
		<td id="CTV-NgaydenhanPL-<%%VALUE(IDCTV)%%>" class="CTV-NgaydenhanPL"><%%SELECT%%><%%VALUE(NgaydenhanPL)%%><%%ENDSELECT%%></td>
		<td id="CTV-DVSD-<%%VALUE(IDCTV)%%>" class="CTV-DVSD text-right"><%%SELECT%%><%%VALUE(DVSD)%%><%%ENDSELECT%%></td>
		<td id="CTV-CBSD-<%%VALUE(IDCTV)%%>" class="CTV-CBSD"><%%SELECT%%><%%VALUE(CBSD)%%><%%ENDSELECT%%></td>
		<td id="CTV-DVLap-<%%VALUE(IDCTV)%%>" class="CTV-DVLap text-right"><%%SELECT%%><%%VALUE(DVLap)%%><%%ENDSELECT%%></td>
		<td id="CTV-CBLap-<%%VALUE(IDCTV)%%>" class="CTV-CBLap"><%%SELECT%%><%%VALUE(CBLap)%%><%%ENDSELECT%%></td>
		<td id="CTV-Status-<%%VALUE(IDCTV)%%>" class="CTV-Status"><%%SELECT%%><%%VALUE(Status)%%><%%ENDSELECT%%></td>
		<td id="CTV-Diaban-<%%VALUE(IDCTV)%%>" class="CTV-Diaban"><%%SELECT%%><%%VALUE(Diaban)%%><%%ENDSELECT%%></td>
		<td id="CTV-Doituong-<%%VALUE(IDCTV)%%>" class="CTV-Doituong"><%%SELECT%%><%%VALUE(Doituong)%%><%%ENDSELECT%%></td>
		<td id="CTV-Vitri-<%%VALUE(IDCTV)%%>" class="CTV-Vitri"><%%SELECT%%><%%VALUE(Vitri)%%><%%ENDSELECT%%></td>
