<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%SELECT%%> and <%%ENDSELECT%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the DOITUONG_init() hook (in hooks/DOITUONG.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="DOITUONG-Hovaten-<%%VALUE(IDDoituong)%%>" class="DOITUONG-Hovaten"><%%SELECT%%><%%VALUE(Hovaten)%%><%%ENDSELECT%%></td>
		<td id="DOITUONG-Ngaysinh-<%%VALUE(IDDoituong)%%>" class="DOITUONG-Ngaysinh"><%%SELECT%%><%%VALUE(Ngaysinh)%%><%%ENDSELECT%%></td>
		<td id="DOITUONG-CCCD-<%%VALUE(IDDoituong)%%>" class="DOITUONG-CCCD"><%%SELECT%%><%%VALUE(CCCD)%%><%%ENDSELECT%%></td>
		<td id="DOITUONG-TATS-<%%VALUE(IDDoituong)%%>" class="DOITUONG-TATS"><%%SELECT%%><%%VALUE(TATS)%%><%%ENDSELECT%%></td>
