<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%SELECT%%> and <%%ENDSELECT%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the DONVI_init() hook (in hooks/DONVI.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="DONVI-IDDonvi-<%%VALUE(IDDonvi)%%>" class="DONVI-IDDonvi text-right"><%%SELECT%%><%%VALUE(IDDonvi)%%><%%ENDSELECT%%></td>
		<td id="DONVI-Tendonvi-<%%VALUE(IDDonvi)%%>" class="DONVI-Tendonvi"><%%SELECT%%><%%VALUE(Tendonvi)%%><%%ENDSELECT%%></td>
		<td id="DONVI-Hedonvi-<%%VALUE(IDDonvi)%%>" class="DONVI-Hedonvi"><%%SELECT%%><%%VALUE(Hedonvi)%%><%%ENDSELECT%%></td>
