<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the  and  formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the PhanLoai_CTV_init() hook (in hooks/PhanLoai_CTV.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="PhanLoai_CTV-ID-<%%VALUE(ID)%%>" class="PhanLoai_CTV-ID text-right"><%%VALUE(ID)%%></td>
		<td id="PhanLoai_CTV-Phanloai-<%%VALUE(ID)%%>" class="PhanLoai_CTV-Phanloai"><%%VALUE(Phanloai)%%></td>
