<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the  and  formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the STCN_init() hook (in hooks/STCN.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="STCN-IDSTCN-<%%VALUE(IDSTCN)%%>" class="STCN-IDSTCN text-right"><%%VALUE(IDSTCN)%%></td>
		<td id="STCN-Sodangki-<%%VALUE(IDSTCN)%%>" class="STCN-Sodangki"><%%VALUE(Sodangki)%%></td>
		<td id="STCN-Ngaydangki-<%%VALUE(IDSTCN)%%>" class="STCN-Ngaydangki"><%%VALUE(Ngaydangki)%%></td>
		<td id="STCN-Ngaylap-<%%VALUE(IDSTCN)%%>" class="STCN-Ngaylap"><%%VALUE(Ngaylap)%%></td>
		<td id="STCN-CBLap-<%%VALUE(IDSTCN)%%>" class="STCN-CBLap"><%%VALUE(CBLap)%%></td>
		<td id="STCN-DVLap-<%%VALUE(IDSTCN)%%>" class="STCN-DVLap text-right"><%%VALUE(DVLap)%%></td>
		<td id="STCN-CBQuanly-<%%VALUE(IDSTCN)%%>" class="STCN-CBQuanly"><%%VALUE(CBQuanly)%%></td>
		<td id="STCN-DVQuanly-<%%VALUE(IDSTCN)%%>" class="STCN-DVQuanly text-right"><%%VALUE(DVQuanly)%%></td>
		<td id="STCN-Doituong-<%%VALUE(IDSTCN)%%>" class="STCN-Doituong text-right"><%%VALUE(Doituong)%%></td>
		<td id="STCN-Status-<%%VALUE(IDSTCN)%%>" class="STCN-Status"><%%VALUE(Status)%%></td>
