<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the  and  formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the STCNSTT_init() hook (in hooks/STCNSTT.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="STCNSTT-Phanloai-<%%VALUE(IDSTT)%%>" class="STCNSTT-Phanloai"><%%VALUE(Phanloai)%%></td>
		<td id="STCNSTT-Danhmuc-<%%VALUE(IDSTT)%%>" class="STCNSTT-Danhmuc"><%%VALUE(Danhmuc)%%></td>
		<td id="STCNSTT-Heloai-<%%VALUE(IDSTT)%%>" class="STCNSTT-Heloai"><%%VALUE(Heloai)%%></td>
		<td id="STCNSTT-IDSTCN-<%%VALUE(IDSTT)%%>" class="STCNSTT-IDSTCN text-right"><%%VALUE(IDSTCN)%%></td>
