<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the  and  formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the XulyTin_init() hook (in hooks/XulyTin.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="XulyTin-ID-<%%VALUE(ID)%%>" class="XulyTin-ID text-right"><%%VALUE(ID)%%></td>
		<td id="XulyTin-Xulytin-<%%VALUE(ID)%%>" class="XulyTin-Xulytin"><%%VALUE(Xulytin)%%></td>
